:root {
    --red: #e0342e;
    --white: #FCFCFC;
    --gray: #B3C7BA;
    --black: #050505;
    --font-size: 1.1rem;

}

* {
    font-family: 'PT Sans', sans-serif;;
}

.header {
    display:flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: var(--red);
    color: var(--white);
}

.logo {
    margin-left: 1.5rem;
    font-size: 1.6rem;
}

.menu { 
    display: flex;
    margin-right: 1.5rem;
}

.menu .menu_item {
    list-style-type: none;
    margin-left: 1rem;
    font-size: var(--font-size);
    cursor: pointer;
}

.banner {
    height: calc(100vh - 80px);
    background-color:var(--gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner .btn-primary {
    background-color: var(--red);
    color: var(--white);
    border-radius: 0;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    border: 1px solid var(--red);
    cursor: pointer;
    width: 230px;
}

.about{
    padding: 1rem 4rem;
}

.about .about_title {
    text-align: center;
}

.p {
    text-align: justify;
}

.causes{
    background-color: var(--gray);
    padding: 1rem 4rem;
}

.causes .causes_title{
    text-align: center;
}

.indicators {
    padding: 1rem 4rem;
}

.indicators .indicators_title{
    text-align: center;
}

.contact {
    background-color: var(--gray);
    padding: 1rem 4rem;
}

.contact .contact_title{
    text-align: center;
}

.footer{
    display: flex;
    justify-content: center;
}




/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track - barra por onde o scroll vai rolar */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle - scroll bar em si*/
::-webkit-scrollbar-thumb {
    background: gray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}